

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.show {
	color: white;
	background-color: #3b3c40;
	font-size: 16px;
	font-style: bold;
}

.show > p {
	margin-left: 20px;
}

#cityConcertInfo {
	color: white;
	background-color: #3b3c40;
	font-size: 16px;
	visibility: hidden;
}

.jumbotron {
	margin-bottom: 0px;
	padding: 5px;
	background-image: url("texture.jpg");
	color: white;
}

.setlistHeader, #setlistText {
	font-size: 22px;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
}

#title, #historyTitleCity {
	font-size: 32px;
}

#title, .setlistHeader, #instructions, #titleDescription {
	text-align: center;
}

#instructions {
	font-size: 20px;
}

/*#mapArea, #setlistArea {
	background-image: url("texture.jpg");
}*/

/*#cityHistoryList, #historyTitleCity, #cityConcertInfo {
	opacity: 1;
}*/











