

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.show {
	color: white;
	background-color: #3b3c40;
	font-size: 16px;
	font-style: bold;
}

.show > p {
	margin-left: 20px;
}

#cityConcertInfo {
	color: white;
	background-color: #3b3c40;
	font-size: 16px;
	visibility: hidden;
}

.jumbotron {
	margin-bottom: 0px;
	padding: 5px;
	background-image: url("texture.jpg");
	color: white;
}

.setlistHeader, #setlistText {
	font-size: 22px;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #131312;
	/*background-image: url("texture.jpg");*/
}

#title, #historyTitleCity {
	font-size: 32px;
}

#title, .setlistHeader, #instructions, #titleDescription {
	text-align: center;
}

#instructions, #titleDescription {
	font-size: 18px;
}

#historyTitleCity {
	color: white;
}

#logo {
	width: 280px;
	height: 150px;
}

#logo img {
	width: 100%;
	height: auto;
}

#logoout div {
	display: block;
	margin: auto;
}











