

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.show {
	color: white;
	background-color: black;
	font-size: 16px;
	font-style: bold;
}

.show > p {
	margin-left: 20px;
}

#cityConcertInfo {
	color: white;
	background-color: black;
	font-size: 16px;
	visibility: hidden;
}

.jumbotron {
	margin-bottom: 0px;
	padding: 5px;
}

.setlistHeader, #setlistText {
	font-size: 22px;
}

body {
	font-family: Tahoma, Geneva, sans-serif;
}

#title, #historyTitleCity {
	font-size: 32px;
}

#title, .setlistHeader, #instructions, #defaultResults {
	text-align: center;
}

#instructions, #defaultResults {
	font-size: 20px;
}

.show, #cityConcertInfo {

}












