

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.show {
	color: white;
	background-color: black;
	border-radius: 15px;
	font-size: 16px;
	font-style: bold;
}

.show > p {
	margin-left: 20px;
}

#cityConcertInfo {
	color: black;
	font-size: 16px;
	border-radius: 15px;
}















