<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Metallica Tour Map</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <style>
      		#map { height: 500px }
    	</style>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">

        

        <script src="{{ url_for('static', filename = 'modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Metallica Tour Map</a>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" id="mapArea">
      	<!--<div><p id="title">Metallica Tour Map</p></div>-->
      	<div id="logoout"><div id="logo"><img src="{{ url_for('static', filename = 'met_logo.png') }}"></div></div>
      	<p id="titleDescription">Metallica's Tour History Visualized On A World Map</p>
      	<div id="map" class="col-md-12"></div>
        <script type="text/javascript">

			var map;
			var initialCityShown = null;
			var activeShowColor = "#3b3c40";
			var unActiveShowColor = "#b2b229";

			function initMap() {
			  map = new google.maps.Map(document.getElementById('map'), {
			    center: {lat: 33.8361, lng: -117.8897},
			    zoom: 11
			  });

			  var counter = 0;

			  {% for k, v in coordinates.iteritems(): %}
			  
			  counter++;

			  var marker = new google.maps.Marker({
			  position: {lat: {{ v[0] }}, lng: {{ v[1] }} },
			  map: map,
			  title: '{{ k }}'
			  });

			  counter++;

			  // Add an event to the dynamically created marker.
			  // The click event will send display the tour data for the
			  // city the marker represents
			  google.maps.event.addListener(marker, 'click', 
			  	(function(marker, counter) {
			  		return function() {

			  			var cityName = marker.getTitle();

			  			$("#showCity").text(cityName);
			  			
			  			// Clear the setlist for a past marker's show
			  			$("#cityConcertInfo").html("");
			  			$("#cityConcertInfo").css("visibility", "hidden");
			  			
			  			// Clear the history list of the past marker
			  			$("#cityHistoryList").html("");

			  			var showNum = 1;
			  			// Iterate through the concerts for this city/area
			  			{% for value in concerts[k]: %}
			  				$("#cityHistoryList").append("<div id=\"show" + showNum + "\" class=\"show\"><p>{{ value.venue }}<p><p>{{value.date}}</p></div>");
			  				
			  				$("#historyTitleCity").text("{{ value.city }}");

			  				// Add an on click event to each date to display
			  				// the setlist details
			  				$("#show" + showNum).click(function() {

			  					// Make the setlist visible
			  					$("#cityConcertInfo").css("visibility", "visible");

			  					$("#cityConcertInfo").html("");
			  					$("#cityConcertInfo").append("<p class=\nsetlistHeader\n>{{ value.venue }}</p>")
			  						.append("<p class=\nsetlistHeader\n>{{ value.date }}</p>")
			  						.append("<p class=\nsetlistHeader\n>{{ value.city }}</p>")
			  						.append("<p id=\nsetlistText\n>Setlist:</p>");

			  					{% if not value.setlist: %}
			  					$("#cityConcertInfo").append("<p>Setlist Not Available</p>");

			  					{% else %}
				  					// Display the setlist
				  					var songNum = 1;
				  					{% for song in value.setlist: %}
				  						$("#cityConcertInfo").append("<p>" + songNum + ". {{ song }}</p>");
				  						songNum++;
				  					{% endfor %}
			  					{% endif %}

			  					$("#cityConcertInfo").append("<p>Check out Metallica's official entry for this show at their website: <a href=\"{{ value.link }}\">Official Show Page</a></p>");
			  				});

			  				showNum++;


			  			{% endfor %}

			  			// Used to check if a show was just recently clicked
			  			var clicked = false;
			  			var showClicked = null;
			  			var hovering = null;


			  			// Change color of show item when hovering 
						// mouse over to indicate clicking is an option
						$(".show").hover(function() {
						  	$(this).css("background", "#FEE600");
						  	$(this).css("color", "black");
						  	$(this).css("cursor", "pointer");
						  	hovering = this;
						}, function() {
							if(clicked && (showClicked==this)) {
								$(this).css("background", "#FEE600");
								$(this).css("color", "black");
								clicked = false;
							}
							else {
								if(this == showClicked) {

								}
								else {
									$(this).css("background", "#3b3c40");
									$(this).css("color", "white");
								}
							}
						  	
						  	$(this).css("cursor", "default");
						  	hovering = false;
						});

						// Change color of the show item when clicked to
						// stay as the same color as being hovered over.
						// When another show has been clicked, the old
						// one will turn black again, assuming the user is checking more than one
						$(".show").on('click', function() {
							clicked = true;
							if(hovering != showClicked) {
								$(showClicked).css("background", "#3b3c40"); 
								$(showClicked).css("color", "white");
							}
							showClicked = this;
						});

						$("#show1").trigger("click");
						$("#show1").css("background", "#FEE600");
						$("#show1").css("color", "black");

			  		}
			  	})(marker, counter));
			  				  	
			  // Trigger this marker to show the user shows and setlist on load	
			  var name = marker.getTitle();
			  if(name == "Anaheim, CA") {
				google.maps.event.trigger(marker, 'click');
				$("#show1").trigger("click");
				$("#show1").css("background", "#FEE600");
				$("#show1").css("color", "black");	
			  } 
			  {% endfor %} 
			}
    	</script>
    	<div class="col-md-12"><p id="instructions">Click on a marker to view the shows Metallica played in that city.</p></div>
      </div>
    </div>

    <div class="container" id="setlistArea">
      <!-- Example row of columns -->
      <div class="row">
      	<div class="col-md-12">
      		<h1><span id="historyTitleCity"></span></h1>
      	</div>
      </div>
      <div class="row">
        <div id="cityHistoryList" class="col-md-5">
        </div>
        <div id="cityConcertInfo" class="col-md-7">
        </div>
      </div>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script src="{{ url_for('static', filename = 'jquery-1.11.2.min.js') }}"></script>

        <script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename = 'main.js') }}"></script>

    	<script async defer
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4Eou1cEa5tMgKakw5SSjwfNrnNeQ9TPo&callback=initMap">
	    </script>

	    <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-67809448-1', 'auto');
		  ga('send', 'pageview');

		</script>
		<div class="container">
			<div class="row">
      			<div class="col-md-12">
					<footer>Created by Daniel Luna</footer>
				</div>
			</div>
		</div>
    </body>
</html>