<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <style>
      		#map { height: 500px }
    	</style>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">

        

        <script src="{{ url_for('static', filename = 'modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Metallica Tour History</a>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      	<div><p id="title">Metallica Tour History</p></div>
      	<div id="map" class="col-md-12"></div>
        <script type="text/javascript">

			var map;
			var defaultResultsVisible = true;

			function initMap() {
			  map = new google.maps.Map(document.getElementById('map'), {
			    center: {lat: 40.4333, lng: 3.7000},
			    zoom: 2
			  });

			  var counter = 0;

			  {% for k, v in coordinates.iteritems(): %}
			  
			  counter++;

			  var marker = new google.maps.Marker({
			  position: {lat: {{ v[0] }}, lng: {{ v[1] }} },
			  map: map,
			  animation: google.maps.Animation.DROP,
			  title: '{{ k }}'
			  });

			  counter++;

			  // Add an event to the dynamically created marker.
			  // The click event will send display the tour data for the
			  // city the marker represents
			  google.maps.event.addListener(marker, 'click', 
			  	(function(marker, counter) {
			  		return function() {

			  			// Check if the default results message is being displayed
			  			if(defaultResultsVisible) {
			  				$("#defaultResults").remove();
			  			}

			  			var cityName = marker.getTitle();

			  			$("#showCity").text(cityName);
			  			
			  			// Clear the setlist for a past marker's show
			  			$("#cityConcertInfo").html("");
			  			$("#cityConcertInfo").css("visibility", "hidden");
			  			
			  			// Clear the history list of the past marker
			  			$("#cityHistoryList").html("");

			  			var showNum = 1;
			  			// Iterate through the concerts for this city/area
			  			{% for value in concerts[k]: %}
			  				$("#cityHistoryList").append("<div id=\"show" + showNum + "\" class=\"show\"><p>{{ value.venue }}<p><p>{{value.date}}</p></div>");
			  				
			  				$("#historyTitleCity").text("{{ value.city }}");

			  				// Add an on click event to each date to display
			  				// the setlist details
			  				$("#show" + showNum).click(function() {

			  					// Make the setlist visible
			  					$("#cityConcertInfo").css("visibility", "visible");

			  					$("#cityConcertInfo").html("");
			  					$("#cityConcertInfo").append("<p class=\nsetlistHeader\n>{{ value.venue }}</p>")
			  						.append("<p class=\nsetlistHeader\n>{{ value.date }}</p>")
			  						.append("<p class=\nsetlistHeader\n>{{ value.city }}</p>")
			  						.append("<p id=\nsetlistText\n>Setlist:</p>");

			  					{% if not value.setlist: %}
			  					$("#cityConcertInfo").append("<p>Setlist Not Available</p>");

			  					{% else %}
				  					// Display the setlist
				  					var songNum = 1;
				  					{% for song in value.setlist: %}
				  						$("#cityConcertInfo").append("<p>" + songNum + ". {{ song }}</p>");
				  						songNum++;
				  					{% endfor %}
			  					{% endif %}

			  					$("#cityConcertInfo").append("<p>Check out Metallica's official entry for this show at their website: <a href=\"{{ value.link }}\">Official Show Page</a></p>");
			  				});

			  				showNum++;


			  			{% endfor %}

			  			// Change color of show item when hovering 
						// mouse over to indicate clicking is an option
						$(".show").hover(function() {
						  	$(this).css("background", "#00522f");
						  	$(this).css("cursor", "pointer");
						}, function() {
						  	$(this).css("background", "#000000");
						  	$(this).css("cursor", "default");
						});
			  		}
			  	})(marker, counter));		 
			  {% endfor %}
			}


    	</script>
    	<p id="instructions">Click on a marker to view the shows Metallica has played in that city</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
      	<div class="col-md-12">
      		<p id="defaultResults">Results will be displayed here</p>
      	</div>
      </div>
      <div class="row">
      	<div class="col-md-12">
      		<h1><span id="historyTitleCity"></span></h1>
      	</div>
      </div>
      <div class="row">
        <div id="cityHistoryList" class="col-md-5">
        </div>
        <div id="cityConcertInfo" class="col-md-7">
        </div>
      </div>
      <hr>

      <footer>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

        <script src="{{ url_for('static', filename = 'jquery-1.11.2.min.js') }}"></script>

        <script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>

        <script src="{{ url_for('static', filename = 'main.js') }}"></script>

    	<script async defer
	      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4Eou1cEa5tMgKakw5SSjwfNrnNeQ9TPo&callback=initMap">
	    </script>
    </body>
</html>